/* Guia para los colores a usar durante el proyecto

General: 

Fondos de páginas: #F6F1D1
Fondos de elementos más pequeños: #40798C   si se usa este fondo utilizar #FFFFFF para letras ya que crea mas contrate
Azul oscuro, para letras, titulos, etc: #0B2027
Verde marino, para otros elementro o letras/subtitulos: #70A9A1
Gris ceniza para otros elementos: #CFD7C7


Para tarjetas semanales, colores pastel. Total 5 colores: 

Verde: #D3F8E2
Lila: #E4C1F9
Rosa: #F694C1
Amarillo: #EDE7B1
Azul: #A9DEF9


Para tareas colores más brillantes, determinan el grado de prioridad. 

Rojo: #E40066
Azul: #345995
Amarillo: #EAC435

Fuente texto 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
*/ 
