html{
    background-color: #F6F1D1;
}

nav{
    background-color: #40798C;
    text-align: center;
    padding: 0.5rem 1rem;
}
.navbar-brand, .navbar-nav .nav-link {
    color: #FFFF;
}
.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #0B2027;
}
.navbar-brand{
    padding-left: 25px;
    font-size: 22pt;
}
.navbar-nav{
    margin-left: auto;
    padding-right: 25px;
    font-size: 18pt;
}
.navbar-brand img {
    margin-right: 15px;
}
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posición fija para que se mantenga en el centro de la pantalla */
    z-index: 1; /* Para asegurarnos de que el modal esté encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Agregar desplazamiento si el contenido es demasiado grande */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro para destacar el modal */
}
.custom-btn {
    background-color: #70A9A1 !important;
    color: #000000 !important;
    border-color: #70A9A1 !important;
    font-size: 14pt !important;
    padding: 10px 30px !important;
    margin-top: 30px;
    margin-left: 50px;
}

.custom-btn:hover {
    background-color: #40798C !important;
    color: #FFFFFF !important;
    border-color: #40798C !important;
}

.barra{
margin: 0%;
    background-color: #F6F1D1;
}

.fondocontainer{
    background-color: #F6F1D1;
    padding-top: 15px;
    padding-bottom: 15px;
}
table{
    border: black;
    border-collapse: collapse;
    }
/* td, th {
    border: 2px solid black;
} */
.table-bordered {
    border: 1px solid black;
    text-align: center;
  }
.columna {
    height: 50px;
}


/* #miBoton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
} */